<div class="mt-4 shadow">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav  mb-2 mx-auto">
            <li class="nav-item bg-danger-subtle rounded ms-2">
              <a class="nav-link fs-3 active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item bg-danger-subtle rounded ms-2">
              <a class="nav-link fs-3" href="/filter_app/geeksforgeeks/">GeeksforGeeks</a>
            </li>
            <li class="nav-item bg-danger-subtle rounded ms-2">
              <a class="nav-link fs-3" href="/filter_app/earthly/">Earthly</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>